@model AutoGenPaper.Common.LocalPasswordModel
@using AutoGenPaper.Mvc
@using BootstrapSupport

<h3>更改密码</h3>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_alerts")
    @Html.Partial("_validationSummary")

    <fieldset>
        <legend>“更改密码”表单</legend>
        @Html.BeginControlGroupFor(model => model.OldPassword)
        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.OldPassword, new { @class = "input-xlarge" })
        </div>
        @Html.ValidationMessageFor(m => m.OldPassword, null, new { @class = "help-inline" })
        @Html.EndControlGroup()

        @Html.BeginControlGroupFor(model => model.NewPassword)
        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
        <div class="controls">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "input-xlarge" })
        </div>   @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "help-inline" })
        @Html.EndControlGroup()

        @Html.BeginControlGroupFor(model => model.ConfirmPassword)
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        <div class="controls">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-xlarge" })
        </div>
        @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "help-inline" })
        @Html.EndControlGroup()

        @Html.BeginControlGroup()
        <div class="controls">
            @Html.AGP_SubmitButton("更改密码")
        </div>
        @Html.EndControlGroup()

</fieldset>
}
